gym==0.26.2
numpy==1.23.5
matplotlib==3.7.1
torch==1.12.1  # Compatible with Python 3.8
torchvision==0.13.1  # Compatible with torch 1.12.1
scikit-learn==1.2.2
pandas==1.5.3  # Compatible with Python 3.8
tqdm==4.65.0
nbformat==5.1.3

